<?php
    require_once 'function.php';
?>
<div class="php">
    <h2>PHP</h2>
    <div class="task_one">
        <h3>Задача 1</h3>
        <pre>
            На вход подается строка из чисел, разделенных пробелами.
            Переместите все нули в конец строки. Порядок остальных чисел должен
            сохраниться.
        </pre>
        <h4>Резльтат</h4>
        <div class="result">
            Входные данные - "7 0 39 0 282 2 4 0 45"<br>
            Итог - <?= moveZerosToEnd("7 0 39 0 282 2 4 0 45");?>
        </div>
    </div>
    <div class="task_two">
        <h3>Задача 2</h3>
        <pre>
            Нужно написать код, который будет принимать на вход число и 3 формы слова - 3
            склонения в зависимости от числа, с которым они употребляются в речи.
            Например: яблоко (одно), яблока (три), яблок (пять). В зависимости от числа
            нужно выбрать правильную форму слова и вывести на экран фразу из числа и
            слова.
            На вход подаётся 4 строки:
            1. число
            2. слово в единственном числе (одно яблоко)
            3. слово в множественном числе, когда речь идёт о двух объектах (два яблока)
            4. слово в множественном числе, когда речь идёт о пяти объектах (пять яблок)
            Вывести нужно число и слово в правильном склонении, разделённые пробелами
        </pre>
        <h4>Резльтат</h4>
        <div class="result">
            Входные данные - 21, 'яблоко', 'яблока', 'яблок';
            Итог - <?= chooseWordForm(21, 'яблоко', 'яблока', 'яблок');?>
        </div>
    </div>
    <div class="task_tree">
        <h3>Задача 3</h3>
        <pre>
            На вход подается строка целых чисел, разделенных пробелами.
            Найдите наибольшее возможное число, составленное путём конкатенации этих
            чисел друг к другу.
        </pre>
        <h4>Резльтат</h4>
        <div class="result">
            Входные данные - "100 95 9 2 42 11 81"<br>
            Итог - <?= largestNumber("100 95 9 2 42 11 81");?>
        </div>
    </div>
    <?php
        require_once 'AppleWeightBasket.php';
        $basket = new AppleWeightBasket();
        $basket->capacity = 10;
    ?>
    <div class="task_four">
        <h3>Задача 4</h3>
        <pre>
            Имеется 7 корзин. Нужно разработать класс, который будет подсчитывать общую
            массу яблок в зависимости от вместимости корзин. Для этого создайте сам класс.
            Затем создайте константу класса, которой присвойте количество корзин.
            Объявите свойство класса, но не инициализируйте его. Свойство будет отвечать
            за вместимость корзины в килограммах. И, наконец, объявите метод, который
            будет принимать в качестве аргумента вместимость корзины, т.е. значение
            соответствующего свойства, а возвращать произведение количества корзин
            (значение нашей константы) на вместимость одной корзины. После оформления
            класса, создайте его экземпляр и выведите на экран количество корзин. Не
            забудьте, что для доступа к константе класса нужно использовать двойное
            двоеточие ::, а не объектный оператор ->. Затем присвойте свойству класса
            положительное число и выведите на экран общую массу яблок, которую могут
            вместить все корзины, использовав для этого оператор echo и вызов метода
            класса
        </pre>
        <h4>Резльтат</h4>
        <div class="result">
            <span>Количество корзин: <?= AppleWeightBasket::BASKET_COUNT; ?></span><br>
            <span>Общая масса яблок: <?= $basket->calculateTotalAppleWeight($basket->capacity) ?> кг</span>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<?php
    $catalog = $this->macros('catalog', 'getSmartCatalog', array(null, 228, null, false, 10));
    $myCustomCatalog = array(
        array(
            'alt_name' => "kurtka-dlya-malchikov-sinyayagolubaya-mayoral",
            'price' => 1050,
            'link' => "/shop/detskaya_odezda/letnyaya/kurtka-dlya-malchikov-sinyayagolubaya-mayoral/",
            'text' => "КУРТКА ДЛЯ МАЛЬЧИКОВ СИНЯЯ/ГОЛУБАЯ MAYORAL"
        ),
        array(
            'alt_name' => "kurtka-dlya-malchikov-sinyayagolubaya-mayoral",
            'price' => 800,
            'link' => "/shop/detskaya_odezda/letnyaya/kurtka-dlya-malchikov-sinyayagolubaya-mayoral/",
            'text' => "КУРТКА ДЛЯ Мужчин СИНЯЯ/ГОЛУБАЯ MAYORAL"
        ),
        array(
            'alt_name' => "kurtka-dlya-malchikov-sinyayagolubaya-mayoral",
            'price' => 700,
            'link' => "/shop/detskaya_odezda/letnyaya/kurtka-dlya-malchikov-sinyayagolubaya-mayoral/",
            'text' => "КУРТКА ДЛЯ Девочек СИНЯЯ/ГОЛУБАЯ MAYORAL"
        ),
    );
?>
<div class="umi">
    <h2>UMI</h2>
    <div class="task_one">
        <h3>Задача 1</h3>
        <pre>
            Скопировать и вставить в код
            $catalog = $this->macros('catalog', 'getSmartCatalog', array(null, 228, null, false, 10));
            Вывести и посмотреть что находится в переменной.
            Далее вывести товары в виде списка все должно быть ссылкой.
            1. Имя товара (Цена).
            2. Имя товара (Цена).
            3. Имя товара (Цена).
            4. И тд
            При этом использовать конструкции php шаблоонизатора
        </pre>
        <h4>Резльтат</h4>
        <div class="result">
            <ul>
                <?php foreach ($catalog["lines"] as $product): ;?>
                    <li>
                        <a href="<?= $product['link'];?>"><?=$product['text'];?> - <?= $product["price"];?> руб.</a>
                    </li>
                <?php endforeach;?>
            </ul>
        </div>
    </div>
    <div class="task_two">
        <h3>Задача 2</h3>
        <pre>
            Записать предыдущий массив в exel все данные которые в нем есть.
            Использовать любые методы.
        </pre>
        <h4>Резльтат</h4>
        <div class="result">
            <?php
                $exel = $catalog['lines'];
                $filename = 'kandidat_5.csv';
                $file = fopen($filename, 'w');
                $selectedKeys = ['id', 'alt_name', 'price', 'link', 'text'];
                fputcsv($file, $selectedKeys);

                foreach ($exel as $row) {
                    $selectedRow = [];
                    foreach ($selectedKeys as $key) {
                        $selectedRow[] = $row[$key];
                    }
                    fputcsv($file, $selectedRow);
                }

                fclose($file);
            ?>
        </div>
    </div>
    <?php
        $catalog['lines'] = $myCustomCatalog;
    ?>
    <div class="task_tree">
        <h3>Задача 3</h3>
        <pre>
            Создать собственный массив. Похожий на предыдущий
        </pre>
        <h4>Резльтат</h4>
        <div class="result">
            <ul>
                <?php foreach ($catalog["lines"] as $product): ;?>
                    <li>
                        <a href="<?= $product['link'];?>"><?=$product['text'];?> - <?= $product["price"];?> руб.</a>
                    </li>
                <?php endforeach;?>
            </ul>
        </div>
    </div>
    <?php
        // 4 задача
        $hierarchy = umiHierarchy::getInstance();
        // получаем umiHierarchyElement, либо false, если страница не существует
        $page = $hierarchy->getElement(138);
        if (!$page instanceof umiHierarchyElement) {
            throw new publicException(getLabel('error-page-does-not-exist'));
        }
    ?>
    <div class="task_four">
        <h3>Задача 4</h3>
        <pre>
            $hierarchy = umiHierarchy::getInstance();
            // получаем umiHierarchyElement, либо false, если страница не существует
            $page = $hierarchy->getElement(138);
            Скопировать и вставить в код.
            Рассказать что в переменной $page
            Найти в документации по Юми (официальный сайт). И вытащить
            наименование, цену, картинку, Описание и ссылку.
        </pre>
        <h4>Резльтат</h4>
        <div class="result">
            <div class="page">
                <h2><?= $page->getName();?></h2>
                <span>Цена: <?= $page->getValue('price');?> руб</span>
                <img src="<?=$page->getValue('photo');?>" alt="<?= $page->getName();?>" width="100">
                <div class="description">
                    <?=$page->description;?>
                </div>
                <a href="<?= $page->link;?>">Подробнее</a>
            </div>
        </div>
    </div>
</div>

